In [3]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('flights.min.csv')

In [8]:
df = df.drop('Unnamed: 0', axis=1)

In [9]:
df.head()

,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,DATE
0,7,6209,2015-01-25 15:08:00,15:23:00,15.0,25.0,1548.0,121.0,123.0,84.0,588,1712.0,14.0,17:09:00,17:26:00,17.0,0,0,2015-01-25
1,2,3158,2015-01-27 11:30:00,11:23:00,-7.0,31.0,1154.0,93.0,120.0,76.0,438,1310.0,13.0,13:03:00,13:23:00,20.0,0,0,2015-01-27
2,3,505,2015-05-27 10:25:00,10:30:00,5.0,13.0,1043.0,180.0,164.0,145.0,1199,1508.0,6.0,15:25:00,15:14:00,-11.0,0,0,2015-05-27
3,7,5233,2015-05-10 20:00:00,23:52:00,232.0,13.0,5.0,200.0,161.0,144.0,1107,129.0,4.0,22:20:00,01:33:00,193.0,0,0,2015-05-10
4,3,1548,2015-03-04 23:59:00,00:01:00,2.0,15.0,16.0,195.0,180.0,157.0,1452,453.0,8.0,05:14:00,05:01:00,-13.0,0,0,2015-03-04